body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: #333;
}

.profile{
    width: 110px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin: auto;
}